<!DOCTYPE html>
<html>
<head>
<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/css/styles.css">

<title>Lead Pages</title>
<meta charset="utf-8">
</head>
<body>

<div class="bg-image">
    <div class="container">
      <div class="row">
        <div class="twelve columns">
            <h1 class="paget">{{ page.title }}</h1>
        </div>
      </div>
    </div>
</div>


{{ content }}
 


<script src="{{ site.baseurl }}/assets/js/devtest.js"></script>

</body>
</html>